.navbar-brand:hover{
    background-color: green;
    border-radius: 10px;
}

.hr-div{
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: green;
    height: 2px;
}

.header_logo{
    max-width: 400px;
}

.dean_img{
    padding-right: 190px;
    width: 700px;
}

.nav-link:hover{
    border:2px solid white;
    border-radius: 10px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 100px;
    color: black;
}

.dept-overview{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
}

.d-md-block{
    width: 300px;
}

.news-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
}

.hdr-title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}

.mb-me{
    margin-left: 100px;
}

.news-content{
    padding-left: 10px;
    padding-right: 10px;
}

/* Staffs Directory Starts Here */
/* Center website */
.main {
    max-width: 99.5%;
} 

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: green;
    border: 1px solid white;
    padding: 5px;
    color: white;
    word-break: break-word;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Staffs Directory Stops Here */

@media only screen and (max-width: 600px){
    .header_logo{
        width: 250px;
    }

    .dean_img{
        padding-right: 100px;
        padding-left: 0px;
        width: 400px;
        height: 200px;
    }

    .hr-div{
        display: none;
    }

    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 17px;
        color: black;
    }

    .dept-overview{
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: -50px;
        text-align: justify;
        width: 260px;
    }

    .news-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
    }
}

.header_container{
    text-align: center;
    padding: 10px;
}

.container_background{
    position: relative;
    text-align: center;
    color: white;
}

.container_background a{
    text-decoration: none;
    color: black;
}


.header_image{
    width:100%;
    height: 250px;
    opacity: 0.4;
}

.btm-ftr{
    /* border-bottom: 2px solid green; */
    visibility: none;
}

.dgr-pre{
    background-color: white;
    width: 160px;
    border-radius: 5px;
    text-align: center;
}

.view-dept{
    background-color: rgb(99, 202, 99);
    padding: 5px;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
}

.view-dept:hover{
    padding: 5px;
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
}

@media only screen and (min-width:576px){
    .jumbotron-footer{padding:0px}
}

.h2title{
    margin-top: 20px; 
    background-color: #00B853; 
    color: white; 
    padding-left: 12px; 
    margin-top: 0;
    text-align: left;
    }

.h2title b {font-weight: bolder;}

.div-about{text-align: justify;}

.svg-nav{
    width: 30px;
    color: white;
}